apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-redis-service
  namespace: {{ .Values.namespace | default "voting-app" }}
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: ClusterIP